:root {
  --primary-font: "Oswald";
}
/*color*/
:root {
  --primary-color: rgb(232, 228, 228);
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --lightgray: #d3d3d3;
  --visited: #0e2d4b;
  --active: #3b94e7;
}

body {
  
  font-family: var(--primary-font) sans-serif;
  font-weight: 400;
  font-size: 25px;
  background-color: red;
 
}

main {
text-align: center;

}
.modal-title{
  text-decoration: underline;
}
h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}



/*image border*/

.poke_border {
  display: flex;
  align-items: self-start;
  margin-top: -20px;
  margin-left: -20px;
}

.poke_border > img {
  width: 100%;
}

button, .button-class {
    overflow:hidden;
    border: none;
    display: inline-block;
    font-family: inherit;
    /* styles the background color, font, */
    background-color: var(--primary-color);
    color: black;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    border-bottom: 2px solid black;
    transition-duration: 0.2s;
    transition-property: opacity;
   
  }
  /*search Button*/
  .btn-warning.my-2.my-sm-0{
    width:min-content;

  }
  .close{
    width:min-content;
    margin-top:auto  ;
    margin-right: 100%;
  }


  

  button:hover,
      button:focus,
      .button:hover,
      .button:focus {
        cursor: pointer;
        opacity: 0.8;
      }
      
.modal-body{
  background-color: var(--primary-color);
}
/*pokemon List*/
ul {
  list-style-type: none;
  align-self: center;
  margin: 0;
  padding: 0;
 
 
  column-count: 4;
  column-gap: 20px;
  row-gap: 10px;
  
}

