/* Body */
body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 25px;
  background-color: red;
}

/* Main */
main {
  text-align: center;
}

/* Modal Title */
.modal-title {
  text-decoration: underline;
}

/* Headings */
h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

/* Image Border */
.poke_border {
  display: flex;
  align-items: self-start;
  margin: -20px 0 0 -20px;
}

.poke_border > img {
  width: 100%;
}

/* Buttons */
button,
.button-class {
  overflow: hidden;
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  border-bottom: 2px solid black;
  transition: opacity 0.2s;
}

/* Search Button */
.btn-warning.my-2.my-sm-0 {
  width: min-content;
}

.close {
  width: min-content;
  margin: auto 0 auto auto;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* Modal Body */
.modal-body {
  background-color: lightgray;
}

/* Pokemon List */
ul {
  list-style: none;
  align-self: center;
  margin: 0;
  padding: 0;
  column-count: 4;
  column-gap: 20px;
  row-gap: 10px;
}
