{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": ["error", "single"],
        "prefer-const": [ "warn"],
        "perfer-arrow-callback":["warn"]
    }


}
